* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
 
body {
    background-color: #9C7AF0;
    height: 100%;
    width: 100%;
    color: #FDFDFF;
    font-family: 'Ubuntu Condensed', sans-serif;    
}

a {
    color: #FDFDFF;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: none;
}


#profilePic {
    height: 400px;
    /* position: relative; */
    left: 150px;
    top: 50px;
}

.container {
    /* position: relative; */
    width: 1200px;
    /* height: 550px; */
    margin: 50px auto;
    background-color: #8B69DF;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    box-shadow: 5px 5px 10px rgb(32, 21, 61);
}

.header {
    padding: 20px 0;
 }

.left-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.top-bar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #FFFADE;
    letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 1.2rem;
}

.top-bar-links:hover {
    color: #FDFDFF;
    background: #781444;
    transition: all 0.5s ease;
}

.main-body {
    display: flex;
    /* margin-top: 20px; */
    width: 100%;
}

.left-sect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(/portfolio_website/bg-left.png);
    /* background-color: black;
    border: 2px solid white; */
    /* margin-left: 40px; */
    width: 45%;
}

.pro-img {
    margin: 20px 0 30px 0;
}

.pro-pic {
    width: 240px;
    height: 367.4px;
    margin:  20px auto;
    border-radius: 5px;
}

.left-sect h2 {
    color: #8f754f;
    font-size: 3.5rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.left-sect p {
    font-size: 1.5rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.left-sect p br {
    margin: 10px;
}

.left-sect ul {
    list-style: none;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

ul li {
    padding: 10px 0;
}

.tech-skills {
    margin: 20px 0 30px 0;
}

.chat-sec {
    margin: 20px 0 30px 0;
}

.ref-sec {
    margin: 20px 0 30px 0;
}
 

.right-sect {
    /* background-color: white; */
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.name-tag {
    text-align: right;
    margin: 0 50px;
}

.name-tag h1 {
    color: #8f754f;
    font-size: 5rem;
    font-weight: bolder;
}

.name-tag h2 {
    color: #385F71;
    font-size: 1.5rem;
}

.mystory {
    margin: 0 50px;
    text-align: right;

}

.mystory h2 {
    color: #8f754f;
    font-size: 3rem;
    margin-bottom: 10px;
}

.mystory p {
    text-align: left;
    margin-top: 10px;
    color: #385F71;
    font-size: 1.5rem;
    font-weight: 500;
}

.mywork {
    font-size: 1rem;
    margin: 0 50px;
}

.mywork h2 {
    color: #8f754f;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: right;
}

.mywork h3 h4 ul li {
    text-align: left;
}

.mywork h3 {
    color: #385F71;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.mywork h4 {
    color: #8f754f;
    font-size: 1.1rem;
}

.mywork ul {
    font-size: 1.1rem;
    list-style: square;
    text-align: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #385F71;
    font-weight: 550;
}

.myschool {
    margin: 0 50px;
}

.myschool h2 {
    color: #8f754f;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: right;
}

.myschool ul {
    font-size: 1.1rem;
    list-style: square;
    text-align: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-bottom: 10px;
    color: #385F71;
    font-weight: 550;
}

.myschool h3 {
    color: #385F71;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.myschool h4 {
    color: #8f754f;
    font-size: 1.1rem;
}
/* .twt-hov:hover {
    color: #FF6F91;
}

.right-sect {
    float: right;
} */

.footer {
    display: flex;
    min-height: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.footer img {
    height: 25px;
}

.footer img:hover {
    transform: scale(1.5);
}