* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
      font-family: 'Montserrat', sans-serif;
  }

h1, h2, h4 {
    color: #8f754f;
}

a {
    text-decoration: none;
    color: white;
}

p, h3 {
    font-display: 'Montserrat:300', sans-serif;
    color: #385f71
}

img {
    position: relative;
    top: 10px;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    border: none;
    border: 1px thin wheat;
}

.container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    grid-column-gap: 50px;
    align-content: center;
}

.introduction {
    position: relative;
    left: 50px;
    border-color: black;
    border-radius: 20px;
    text-align: center;
    border: none;
    border: 1px solid #302830;
}

.technical {
    position: relative;
    background-color: black;
    left: 150px;
    color: white;
    border: none;
    border: 1px solid #ecbcec;
    text-align: center;
    border-radius: 20px;
}